{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del cómic</title>
    <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static './assests/css/cards.css'%}">
</head>


<body class="fondo">

    <div class="pad nav-img bod-img">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% static './index.html'%}">
                    <img src="{% static './assests/img/body-i.jpg'}" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="./categorias.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="./categorias.html">Accion</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="./categorias.html">Aventura</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="./categorias.html">Super Heroes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <span class="navbar-text" id="usernameDisplay"></span>
                        <a href="./Registro.html">
                            <button class="btn btn-outline-success" type="submit">Registrarse</button>
                        </a>
                        <a href="{% static './carrito.html'%}">
                            <button class="btn btn-outline-warning" type="submit">Carrito</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container mt-5">
        <div id="comicDetailsContainer"></div>
    </div>



    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'%}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'%}"></script>
    <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'%}"></script>
    <script src="{% static './assests/js/comics.js'%}"></script>
</body>

</html>